<footer>
    <section class="footer-top">
        <app-store-button text="Download for IOS" icon="../../assets/images/itunes-button.png"></app-store-button>
        <app-store-button text="Download for Android" icon="../../assets/images/googleplay-button.png">
        </app-store-button>
    </section>
    <section class="footer-bottom">
        <div class="bottom-left">
            <ul>
                <li><a>ABOUT US</a></li>
                <li><a>SUPPORT</a></li>
                <li><a>TERMS AND CONDITIONS</a></li>
                <li><a>CONTACT US</a></li>
                <li><a>FAQ</a></li>
                <li><a>PRIVACY POLICY</a></li>
                <li><a>AML POLICY</a></li>
            </ul>
            <div>
                <a class="jeton-btn">JetonCARD</a>
                <a class="jeton-btn">JetonPAY</a>
            </div>
        </div>
        <app-button text="SIGN IN"></app-button>
    </section>
</footer>