<section class="advantages">
    <div class="advantages-left">
        <h2>
            Just like real cash, but better.
        </h2>
        <app-advantage-item title="Jeton is fast" text="Instant deposit and balance updates."
            icon="../../../assets/images/icon-fast.svg"></app-advantage-item>
        <app-advantage-item title="Jeton is easy" text="Instant deposit and balance updates."
            icon="../../../assets/images/icon-easy.svg"></app-advantage-item>
        <app-advantage-item title="Jeton is free" text="Open Jeton account for free."
            icon="../../../assets/images/icon-use.svg"></app-advantage-item>
    </div>
    <div class="advantages-right">
        <div class="business-card">
            <div class="title">BUSINESS ACCOUNT</div>
            <img class="business-icon" src="../../../assets/images/icon-bank.svg" />
            <div class="text">Jeton allows you to request payments for good and services
                that you have provided. The simple pricing makes this account efficient to
                your business, and easy to access for your customers
            </div>
            <app-button text="USE FOR BUSINESS"></app-button>
        </div>
    </div>
</section>